* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* body i {
  background-image: linear-gradient(to right, #2af598, #009efd);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
} */

/* --- Header Part --- */

header {
  width: 100%;
  height: 100%;
}

header .head {
  width: 100%;
  height: 1050px;
  display: flex;
  flex-direction: column;
  background-image: url("img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* --- Header Nav Part --- */

header .head nav {
  width: 85%;
  margin: 0 auto;
}

header .head nav .navbar {
  padding: 65px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .head nav .navbar .logo {
  width: 175px;
  height: 46px;
}

header .head nav .navbar .logo a {
  width: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .head nav .navbar .logo a .fa-light {
  font-size: 36px;
  padding: 0 5px 0 0;
  color: linear-gradient(to right, #2af598, #009efd);
  color: #2af598;
}

header .head nav .navbar .logo a h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

header .head nav .navbar .menu ul {
  width: 540px;
  display: flex;
  justify-content: space-between;
}

header .head nav .navbar .menu ul li {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

header .head nav .navbar .menu ul a:nth-child(1),
header .head nav .navbar .menu ul a li:hover {
  background-image: linear-gradient(to right, #2af598, #009efd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .head nav .navbar .menu ul a:nth-child(1) {
  font-weight: 600;
}

header .head nav .navbar .bag {
  position: relative;
}

header .head nav .navbar .bag i {
  font-size: 36px;
  color: #fff !important ;
}

header .head nav .navbar .bag .number {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  left: 17px;
  bottom: 11px;
  background-image: linear-gradient(to right, #2af598, #009efd);
  display: flex;
  justify-content: center;
}

header .head nav .navbar .bag .number h4 {
  font-size: 16px;
  font-weight: 700;
}

/* --- Header Motto Part --- */

header .head .motto {
  width: 75%;
  margin: 65px auto 0;
}

header .head .motto h1 {
  font-size: 75px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

/* --- Header Down Part --- */

.downPart {
  width: 85%;
  height: 100%;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-between;
}

.downPart .firstColumn {
  position: relative;
}

.downPart .price {
  position: relative;
}

.circle {
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.circle .dot {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.bubble {
  width: 205px;
  height: 105px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 24px;
  backdrop-filter: blur(5px);
  padding: 20px;
  position: absolute;
  top: -137px;
  left: -80px;
  margin-bottom: 9px;
  display: none;
}

.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 18px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -18px;
}

.bubble h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  color: #fff;
}

.bubble h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  padding-top: 12px;
}
.first:hover .bubble {
  display: block;
}

.second:hover .bubble {
  display: block;
}

.third:hover .bubble {
  display: block;
}

.downPart .firstColumn .price .first {
  top: 1rem;
  left: -1.6rem;
}

.downPart .firstColumn .second {
  top: 12.5rem;
  left: 3.5rem;
}

.downPart .thirdColumn .third {
  top: 13rem;
  right: -0.6rem;
}

.downPart .secondColumn {
  width: 45%;
}

.downPart .secondColumn h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
  text-align: center;
  padding-bottom: 20px;
}


.downPart .secondColumn .searchBox {
  position: relative;
}

.downPart .secondColumn .searchBox input {
  width: 460px;
  height: 65px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
}

::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-left: 30px;
}

.downPart .secondColumn .searchBox .searchBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  padding: 15px;
  position: absolute;
  top: 8px;
  right: 72px;
  cursor: pointer;
}

.downPart .secondColumn .searchBox .searchBtn i {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
}